// FONT
$font-family-main:       'ProximaNova-Regular';
$font-family-ofthen:     'ProximaNova-Bold';
$font-family-rare:       'ProximaNova-Semibold';

// COLORS

$gray-base:              ;
$gray-darker:            #7a7b7e;//input text color
$gray-dark:              #ebe6dd;//bgcolor
$gray:                   #e9e4db;//heading color
$gray-light:             ;
$gray-lighter:           #ffffff;

$brand-primary:         ;
$brand-success:         ;
$brand-info:            #253e55;//blue color
$brand-warning:         ;
$brand-danger:          #cb5e54; //red color

//Size

$screen-min-width:      1020px;
$container-min-width:       940px;