// FONT
$font-family-main:       'pn-regular';
$font-family-ofthen:     'pn-bold';
$font-family-rare:       'pn-semibold';

// COLORS

$gray-base:              #272525;
$gray-darker:            #7a7b7e;//input text color
$gray-dark:              #ebe6dd;//bgcolor
$gray:                   #e9e4db;//heading color
$gray-light:             ;
$gray-lighter:           #ffffff;

$brand-primary:         ;
$brand-success:         ;
$brand-info:            #253e55;//blue color
$brand-warning:         ;
$brand-danger:          #e85e53; //red color #cb5e54


//Size

$screen-min-width:      960px;
$container-width:       940px;