@import "bootstrap.scss";
@import "variables.scss";
@import "mixins.scss";

@import "font.scss";
@import "owl-carousel.scss";


html{
	font-family: $font-family-main,Helvetica, sans-serif;
	font-size:13px;
}

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

ul{
	@include padding-horizontal(0,0);
	@include margin-vertical(0,0);
}

.clearfix{
	clear:both;
}

.wrapper{
	min-width:$screen-min-width;
}

.container{
	width:$container-width;
	@include margin-custom(0,auto,0,auto);
	position: relative;
}

.heading{
	&-main{
		@include font($font-family-ofthen,44px,$gray-lighter);
		&--danger{
			color:$brand-danger;
		}
		&--info{
			color: $brand-info;
		}
		&--step{
			font-size: 64px;
			color:$brand-danger;
		}
		&--finance{
			color:$gray;
		}
	}
	&-item{
		@include font($font-family-main,27px,$brand-info);
		&--big{
			font-size:36px;
		}
	}
	&-stage{
		@include font($font-family-rare,31px,$brand-info);
	}
	&-term{
		@include font($font-family-main,85px,$brand-danger);
	}
	
}

.btn{
	display: inline-block;
	text-decoration: none;
	background-color: transparent;
	@include font($font-family-rare,20px,$brand-info)
	border:3px solid;
	border-radius:35px;
	box-shadow:none;
	@include padding-custom(26px,26px,26px,26px);
	transition-duration: 0.4s;
	transition-property: color, background-color,border-color;
	&:hover,
	&:focus{
		background-color: $brand-info;
		color: $gray-lighter;
		border-color:$brand-info;
	}
	&--danger{
		color: $gray-lighter;
		border-color:$brand-danger;
		&:hover,
		&:focus{
			background-color: $brand-danger;
			border-color:$brand-danger;
		}
		
	}
	&--small{
		border:1px solid;
		@include padding-custom(3px,9px,3px,12px);
	}
	&--social{
		font-size: 8px;
		background-color: $gray-dark;
		color: transparent;
		border:none;
		@include padding-custom(9px,9px,7px,9px);
	}
}
.img{
	&-responsive{
		max-width:100%;
		height:auto;
	}
}

.header{
	&__content{
		position: absolute;
		z-index:2;
		@include margin-vertical(46px,0);
	}
	&__heading{
		@include margin-vertical(0,28px);
	}
}

.logo{
	width: 183px;
	height: 42px;
	&--header{
		@include margin-vertical(0,28px);
	}
	&-project{
		width: 400px;
		height: 353px;
		display: inline-block;
		vertical-align: top;
	}
}

.slideshow{
	&__item{
		height:680px;
		@include background-cover;
	}
	
}

.main{
	position: relative;
	z-index:2;
}
.project{
	background-color: $gray;
	&__content{
		display: inline-block;
		vertical-align: top;
	}
	&__thumb{
		width: 122px;
		height: 91px;
		display: inline-block;
		vertical-align: top;
	}
	&__content{
		
		@include margin-custom(60px,0,0,120px);
	}

	&__heading{
		@include margin-vertical(0,57px);
	}

	&__info{
		display: inline-block;
		vertical-align: top;
		@include margin-horizontal(0,32px);
		@include padding-vertical(6px,0);
	}

	&__btn{
		@include margin-vertical(0,20px);
		span{
			display: block;
			width: 8px;
			height: 11px;
			background:url(../images/sprite.png) no-repeat 0px -64px;
		}
		
	}

	&__text{
		color: $brand-info;
		font-size: 15px;
		span{
			font-family:$font-family-ofthen;
			color: $brand-danger;
		}
	}
}

.take-five{
	@include background-cover;
	background-image:url(../images/take-five-bg.png);
	@include padding-vertical(315px,105px);
	text-align: center;
	&__term{
		@include font($font-family-ofthen,18px,$gray-lighter);
		@include margin-horizontal(100px,0);
		width: 240px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	&__info{
		font-size: 15px;
		color: $gray-base;
		width: 380px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	&__text{
		@include margin-vertical(0,25px);
		position: relative;
		&:last-child{
			@include margin-vertical(0,0);
			&:after{
				content:"";
				display: inline-block;
				height: 33px;
				width: 155px;
				position: absolute;
				@include margin-custom(5px,0,0,22px);
				background: url(../images/sprite.png) no-repeat -9px -57px;
			}
		}
	}
}

.finance{
	background-color:$brand-info;
	text-align: center;
	&__heading{
		&--main{
			@include margin-vertical(0,30px);
		}
		&--sub{
			@include margin-vertical(0,55px);
		}
	}
	&__content{
		@include padding-vertical(80px,72px);
	}
	&__info{
		width: 460px;
		@include margin-vertical(0,95px);
		color: $gray-lighter;
		font-size: 15px;
		display: inline-block;
		text-align: left;
	}
	&__features{
		list-style-type: none;
		
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 200px;
		@include margin-horizontal(42px,0);
		&:last-child{
			@include margin-horizontal(0,0);
		}
		
	}
	&__ico{
		width:44px;
		height: 37px;
		background: url(../images/sprite.png)no-repeat 0px 0px;
		@include margin-custom(0,auto,30px,auto);
		&--wallet{
			background-position: -44px 0px;
		}
		&--statistic{
			background-position: -88px 0px;
		}
		&--money{
			background-position: -132px 0px;
		}
	}
	&__number{
		@include margin-custom(0,auto,30px,auto);
	}
	&__text{
		@include font($font-family-ofthen,18px,$gray);
		@include margin-custom(0,auto,0,auto);
	}
}

.franchise{
	background-color: $gray-dark;
	text-align: center;
	@include padding-vertical(85px,105px);
	&__heading{
		@include margin-vertical(0,90px);
		
	}
	&__features{
		list-style-type: none;
		@include margin-vertical(0,95px);
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 380px;
		@include margin-custom(0,88px,60px,0);
		&:nth-child(even){
			@include margin-horizontal(0,0);
		}

		&:last-child{
			@include margin-vertical(0,0);
		}
		&:nth-last-child(2){
			@include margin-vertical(0,0);
		}
		
	}
	&__ico{
		width:56px;
		height: 64px;
		background: url(../images/sprite.png) no-repeat -179px 0px;
		float:left;
		@include margin-horizontal(24px,0);
		&--tablet{
			background-position: -233px 0px;
		}
		&--paper{
			background-position: -289px 0px;
		}
		&--phone{
			background-position: -344px 0px;
		}
		&--building{
			background-position: -400px 0px;
		}
		&--bag{
			background-position: -457px 0px;
		}
		&--scales{
			background-position: -512px 0px;
		}
	}
	&__info{
		text-align: left;
    	width: 300px;
    	overflow: hidden;
		&-heading{
			@include margin-vertical(0,30px);
		}
		&-text{
			font-size: 18px;
			color: $brand-info;
		}
	}
	&__btn{
		@include margin-vertical(0,95px);
	}
	&__block{
		&-img{
			height: 370px;
			width: 370px;
			@include background-cover;
			background-image:url(../images/carousel/1.jpg);
			border-radius:50%;
			display: inline-block;
			vertical-align: top;
			@include margin-horizontal(105px,0);	
		}
		&-info{
			width:430px;
			display: inline-block;
			vertical-align: top;
			text-align: left;
		}
		&-heading{
			@include padding-vertical(0,25px);
			border-bottom:10px solid $gray-lighter;
			@include margin-vertical(0,30px);
			&--main{
				@include margin-vertical(0,25px);
			}
			&--sub{
				font-size: 18px;
				color: $brand-info;
				@include margin-vertical(0,0);
			}
		}
		&-ico{
			@include margin-horizontal(30px,0);	
		}
		&-text{
			overflow: hidden;
			border-left:3px solid $gray-lighter;
			width: 340px;
			color: $brand-info;
			
			@include padding-custom(15px,0,16px,45px);
		}
	}
}

.picture{
	&--middle{
		height: 685px;
		@include background-cover;
		background-image:url(../images/carousel/2.jpg);
	}
	&--bottom{
		height: 600px;
		@include background-cover;
		background-image:url(../images/carousel/3.jpg);
	}
}

.stages{
	text-align: center;
	background-color: $gray-dark;
	@include padding-vertical(90px,75px);
	&__heading{
		@include margin-vertical(0,80px);
	}
	&__features{
		
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 420px;
		text-align: left;
		position: relative;
		
		&:nth-child(4n+1){
			&:after{
				content:"";
				display: inline-block;
				position: absolute;
				top: 51%;
    			right: -72px;
				width: 56px;
				height: 5px;
				background: url(../images/sprite.png) no-repeat 0px -93px;
			}	
		}

		&:nth-child(4n+2){
			&:before{
				content:"";
				display: inline-block;
				position: absolute;
				bottom: -17%;
			    left: -113px;
			    width: 99px;
			    height: 7px;
			    background: url(../images/sprite.png) no-repeat 0px -100px;
			    transform: rotate(-45deg);
			}	
		}

		&:nth-child(4n+3){
			&:after{
				content:"";
				display: inline-block;
				position: absolute;
				top: 51%;
    			right: -72px;
				width: 56px;
				height: 5px;
				background: url(../images/sprite.png) no-repeat 0px -93px;
				transform: rotate(180deg);
			}	
		}
		
		&:nth-child(odd){
			@include margin-horizontal(95px,0);
		}
		&:last-child{
			@include margin-vertical(0,0);
		}
		&:nth-last-child(2){
			@include margin-vertical(0,0);
		}
		@include margin-custom(0,0,80px,0);
		&-heading{
		display: inline-block;
		vertical-align: top;
		@include margin-vertical(11px,0);
		font-size: 20px;
		}
	}
	&__header{
		@include margin-vertical(0,30px);
	}
	&__number{
		display: inline-block;
		vertical-align: top;
		border-bottom:10px solid $gray-lighter;
		@include margin-custom(0,0px,0,0);
		@include padding-vertical(0,30px);
		
	}
	&__text{
		font-size: 18px;
		color: $brand-info;
	}
}

.term{
	@include background-cover;
	background-image:url(../images/term-bg.png);
	@include padding-vertical(135px,85px);
	&__heading{
		@include margin-vertical(0,25px);
		display: inline-block;
	}
	&__number{
		@include font($font-family-ofthen,243px,$gray-lighter);
		display: inline-block;
		vertical-align: middle;
		@include margin-horizontal(219px,150px);
	}
	&__info{
		display: inline-block;
		vertical-align: middle;
		width:270px;
		
	}
	&__text{
		color: $gray;
		font-size: 18px;
		@include margin-vertical(0,40px);
	}
}

.arguments{
	background-color:$gray-dark;
	@include padding-vertical(80px,80px);
	text-align: center;
	&__royalty{
		display: inline-block;
		width: 278px;
		height: 103px;
		background: url(../images/sprite.png) no-repeat -164px -64px;
		@include padding-custom(17px,35px,0,35px)
		@include margin-vertical(0,75px);
		overflow:hidden;
		&-number{
			@include font($font-family-ofthen,100px,$brand-info)
			float:left;
			@include margin-vertical(-22px,0);
		}
		&-text{
			font-size: 15px;
			color: $gray-lighter;
			overflow:hidden;
			// @include margin-vertical(10px,0)
			span{
				font-family: $font-family-ofthen;
			}
		}
	}
	&__features{
		list-style-type: none;
		@include margin-vertical(0,30px);
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 285px;
		&--rigth{
			text-align: right;
		}
		&--center{
			text-align: center;
		}
		&--left{
			text-align: left;
		}
		&-heading{
			@include margin-vertical(0,25px);
		}
		&-line{
			display: inline-block;
			width: 144px;
			height: 10px;
			background-color: $gray-lighter;
			@include margin-vertical(0,40px);
		}
		&-text{
			color: $brand-info;
			font-size: 18px;
		}
	}
	&__line{
		display: inline-block;
		width: 3px;
		height: 60px;
		background-color: $brand-danger;
		@include margin-vertical(0,40px);
	}
	&__cta{
		&-heading{
			@include margin-vertical(0,65px);
		}
	}
}

.about{
	text-align: center;
	background-color: $gray-dark;
	@include padding-vertical(0,100px);
	&__top{
		display: inline-block;
		width: 674px;
		height: 523px;
		background-image: url(../images/brand-bg.png);
		@include margin-vertical(0,105px);
	}
	&__heading{
		@include margin-vertical(0,75px);
	}
	&__text{
		@include margin-vertical(0,30px);
		&-item{
			width: 360px;
			display: inline-block;
			vertical-align: top;
			@include margin-custom(0,45px,45px,0);
			color: $brand-info;
			text-align: left;
			&:nth-child(even){
				@include margin-horizontal(0,0);
			}
		}
	}
	&__photo{
		&-item{
			// width: 405px;
			// height: 605px;
			display: inline-block;
			vertical-align: top;
			@include margin-horizontal(2px,0);
			
			&--left{
				// width: 368px;
			}
			&:last-child{
				@include margin-horizontal(0,0);
			}
			
		}
		&-top{
			width: 368px;
			height: 368px;
			@include margin-vertical(0,8px);
			
			@include background-cover;
			background-image: url(../images/carousel/3.jpg);
		}
		&-bottom{
			width: 368px;
			height: 229px;
			
			@include background-cover;
			background-image: url(../images/carousel/2.jpg);
		}
		&-right{
			width: 405px;
			height: 605px;
			@include background-cover;
			background-image: url(../images/carousel/1.jpg);
		}
	}
}

.contact{
	@include padding-vertical(85px,35px);
	@include background-cover;
	background-image: url(../images/contact-bg.png);
	text-align: center;
	&__heading{
		@include margin-vertical(0,60px);
	}
	&__form{
		&-items{
			@include margin-vertical(0,70px);
		}
		&-control{
			font-size: 19px;
			background-color: $gray-dark;
			border:none;
			color: $gray-darker;
			border-radius:35px;
			width: 260px;
			@include padding-custom(25px,48px,25px,48px);
			@include margin-horizontal(76px,0);
			&:last-child{
				@include margin-horizontal(0,0);
			};
			&::-webkit-input-placeholder {color:$gray-darker;};
			&::-moz-placeholder          {color:$gray-darker;};
			&:-moz-placeholder           {color:$gray-darker;};
			&:-ms-input-placeholder      {color:$gray-darker;};
			&:hover,
			&:focus{
				outline:none;
			};
		}
		&-label{
			display: inline-block;
			vertical-align: middle;
			@include margin-vertical(0,70px);
			&:before{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 84px;
				height: 84px;
				background: url(../images/sprite.png) no-repeat -456px -65px;
				@include margin-horizontal(11px,0);
			}
		}
		&-submit{
			left:-9999px;
			position: absolute;
		}
	}
	&__info{
		&-heading{
			@include font($font-family-rare,18px,$gray);
			@include margin-vertical(0,10px);
		}
		&-mail{
			@include font($font-family-ofthen,28px,$gray)
			text-decoration: none;
			display: block;
			@include margin-vertical(0,10px);
		}
		&-text{
			width: 460px;
			color: $gray;
			@include margin-custom(0,auto,35px,auto);
		}
	}
	&__social{
		&-item{
			@include margin-horizontal(95px,0);
			&:last-child{
				@include margin-horizontal(0,0);
			}
			background: url(../images/sprite.png) no-repeat;
			height: 26px;
			width: 89px;
			display: inline-block;
			vertical-align: top;
			text-decoration: none;
			&--facebook{
				background-position: 0px -282px;
			}

			&--vkontakte{
				background-position: -91px -282px;
			}

			&--instagram{
				background-position: -182px -282px;
			}
			&:hover,
			&:focus{
				background-position-y: -308px;
			}
			
		}
	}
}

.footer{
	text-align: center;
	background-color: $gray-dark;
	@include padding-vertical(0,35px);
	&__bg{
		width: 710px;
		height: 112px;
		background: url(../images/sprite.png) no-repeat 0px -169px;
		@include margin-custom(0,auto,75px,auto);
		position: relative;
    	top: -12px;
    	
	}
	&__made{
		@include font($font-family-ofthen,15px,$brand-info);
		text-transform: lowercase;
		@include margin-vertical(0,20px);
		a{
			text-decoration: none;
			color: $brand-info;
		}
		
	}
	&__copywrites{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		@include margin-horizontal(230px,0);
	}
	&__text{
		font-size: 12px;
		color: $gray-lighter;
		
	}
	&__logo{
		display: inline-block;
		vertical-align: top;
		width: 180px;
		height: 41px;
	}
}



// RESPONSIVE

@media (min-width:$screen-md){
	.project{
		&__content{
			@include margin-custom(60px,0,0,120px);
		}
	}

	.stages{
		&__number{
			@include margin-custom(0,25px,0,0);
		}
		&__item{
			&-heading{
				@include margin-vertical(0,0);
				font-size: 31px;
			}
		}
	}
}